
.tic-tac-toe-grid{
  display: grid;
  grid-template-columns: 80px 80px 80px;
  /* border: 1px solid black; */
  justify-content: center;
}

.general-cell{
  border: 2px solid black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell1,.cell4,.cell3,.cell6{
  border:0px;
  border-bottom: 2px solid black;
}

.cell2,.cell5{
  border-top: 0px;  
}

.cell7,.cell8,.cell9{
  border: 0px;
}

.cell8{
  border-right: 2px solid black;
  border-left: 2px solid black;
}

h1{
  font-size: 50px;
}

.starting-layout,.game-layout{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.general-button{
  width: 120px;
  height:120px;
  border: 1px solid black;
  border-radius: 60px;
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}

.tick-move-image{  
  height:57px;
  width:57px;
}

.cross-move-image{  
  height:50px;
  width:50px;
}

.initial-winner{
  display: none;
}

.final-winner{
  display: inline-block;  
  font-size: 30px;
  margin-top: 30px;
  font-family:'Times New Roman', Times, serif;
}

.reset-button{
  margin-top: 30px;
}